@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --black-color: #000;
    --white-color: #fff;
    --button-color: #012B69;
    --blue-color: #407BFF;
    --gradient-color: linear-gradient(90deg, rgba(142, 248, 255, 1), rgba(22, 31, 245, 0.5));
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

ul {
    padding: 0;
}

header {
    position: fixed;
    display: flex;
    padding-inline: 5rem;
    align-items: center;
    width: 100%;
    background-color: var(--white-color);
}

header img {
    width: 200px;
    padding-top: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 5rem;
    align-items: center;
    font-size: 16px;

}

nav ul {
    display: flex;
    gap: 2rem;
}

a.register {
    background-color: var(--button-color);
    color: var(--white-color);
    padding: .5rem;
    padding-inline: 1.5rem;
    font-weight: 700;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    font-size: 17px;
    transition: all ease-out .1s;
}

a.register:hover {
    background-color: var(--white-color);
    border: 2px solid var(--blue-color);
    color: var(--black-color);
    transition: all ease-in .1s;
}

main h1 {
    font-size: 38px;
    margin: 0;  
}

main h2 {
    font-size: 26px;
    margin-top: .5rem;
}

main article.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    background: var(--gradient-color)
}

main article.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-inline: 10rem;
    border: 3px solid var(--blue-color);
    padding-inline: 3rem;
    padding-block: 1rem;
    border-radius: 10px;
}

main article.aboutus p {
    text-align: center;
    font-size: 16px;
}

main article.benefit {
    display: flex;
    margin-inline: 10rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.benefit-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.benefit-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 3px solid var(--blue-color);
    border-radius: 10px;
    font-size: 18px;
    padding-inline: 1rem;
}

.benefit-item i {
    font-size: 30px;
    color: var(--blue-color);
}

article.register {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem;
    background: var(--gradient-color);
}

article.register a.register {
    width: 15%;
}

article.division {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
}

.division-item {
    border: 3px solid var(--blue-color);
    border-radius: 10px;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 50%;
}

.division-item i {
    font-size: 30px;
    color: var(--blue-color);
}

article.faq {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
}

.faq-item {
    border: 3px solid var(--blue-color);
    border-radius: 10px;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 70%;
    justify-content: space-between;
}

.faq-item i {
    font-size: 22px;
    color: var(--blue-color);
}